html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


/* styles da navbar*/

nav {
    width: 100%;
}

.navSuperior {
    background-color: #0d2a64;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgLogo {
    margin-top: 5px;
    height: 120px;
    cursor: pointer;
}

.contentNav {
    height: 60px;
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 25px;
    background-color: #0356fd09;
    border-radius: 20px;
}

.contentNav a {
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: rgba(237, 234, 234, 0.904);
    font-size: 30px;

}

.contentNav a:hover {
    color: rgb(255, 255, 255);
}

.navInferior {
    width: 100%;
}

.containerImagens {
    width: 100%;
}

.containerImagens ul {
    display: flex;
    width: 100%;
}

.containerImagens li {
    width: 100px;
    list-style: none;
    height: 553px;
    transition: 600ms;
    flex-grow: 1;
    filter: grayscale(0.4);
}



.containerImagens a {
    height: 100%;
}

.containerImagens li:hover {
    width: 100%;
    transition: 1400ms;
    filter: grayscale(0);
}


.imgNav {
    border: 1px solid black;
    height: 552px;
    object-fit: cover;
    width: 100%;
    object-position: center;
}

/* fim do style da navbar*/


/* começando css da main*/

.topButton{
    margin-top: 8px;
    display: flex;
    width: 100%;
    height: 40px;
    opacity: 82%;
    justify-content: flex-end;
    transition: 500ms;
    position: fixed;
    z-index: 10;
}

.topButton:hover {
opacity: 100%;
}

.topButton img { 
width: 100%;
height: 100%;
}

.titleMain{
    background-color: #f0f1f4;
    display: flex;
    justify-content: center;
    width: 100%;
}
.titleMain img{ 
    margin-top: 20px;
    height: 200px;
    width: 100%;
}
.containerContent {
    width: 100%;
    height: 500px;
    border-bottom: none;
    background-color: #f0f1f4;
}

.backG {
    height: 400px;
    width: 100%;
    background-color: #eceef5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px;
}

.fotoJogos {
    width: 390px;
    height: 350px;
}

.fotoJogos img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

.infoJogos {
    width: 1200px;
    height: 400px;
    background-color: #252424;
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px;
    display: flex;
}

.containerDesc{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 55%;
    height: 100%;
}
.titleJogo{
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 10px 0 15px 0;
    height: 10%;
    align-items: center;
    color: orange;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000ba;
}
.textJogo{
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00000039;
    height: 100%;
    width: 100%;
}
.textJogo p{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

}
#reverseImg{
    display: flex;
    flex-direction: row-reverse;
}

.divisaoInfe{
    width: 5%;
    height: 100%;
    display: flex;
    align-items: end;
}

#reverse{
    display: flex;
    flex-direction: row-reverse;
}

.divisaoInfe a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.divisaoInfe a img{
    width: 60px;
    height: 60px;
}
.containerVideo{
    width: 40%;
    display: flex;
    justify-content: center;
    height: 100%;
}
.containerVideo iframe{

 padding: 10px;

}
/* finalizando css main*/

.avaliador{
    width: 100%;
    height: 400px;
}

.contato {
    background-color: #f0f1f4;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif
}

.containerContact {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.containerContact ul {
    list-style: none;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.containerContact strong {
    padding-right: 10px;
}

.containerContact li {
    font-size: 35px;
    height: 33%;
    display: flex;
    align-items: center;
}

.formEmail {
    width: 50%;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(181, 180, 180, 0.204);
    background-color: #ede9e92c;
    border-radius: 10px;
    margin: 30px 20px;
}
.containerEmail{
   margin-right: 6px
}

.titleForm {
    width: 100%;
    margin: 15px;
}

.titleForm h2 {
    font-size: 40px;
    padding: 10px;
}

.containerInputs {
    height: 280px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.containerUsuario {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10PX;
    margin-left: 20px;

}

.containerInputs label {
    width: 100%;
    margin: 10px;
    display: flex;
}

.containerInputs p {
    width: 150px;
    display: flex;
    height: 45px;
    font-size: 20px;
    align-items: center;
}

.containerUsuario input {
    margin-left: 10px;
    padding-left: 8px;
    width: 300px;
    border-radius: 10px;
    height: 45px;
}

.containerMensage {
    height: 60%;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerText {
    width: 100%;
    height: 60%;
    display: flex;
}

textarea {
    padding: 25px 0 0 10px;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 70px;
}

.containerButton input {
    width: 150px;
    height: 50px;
    background-color: rgb(4, 255, 0);
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    cursor: pointer;
}

.containerButton input:hover {
    background-color: rgba(9, 83, 1, 0.905);

    color: white;
}

.itensFooter {
    background-color: #0d2a64;
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
}

.footerImg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerImg img {
    width: 200px;
    height: 150PX;
}

.redesCriador {
    position: absolute;
    width: 200px;
    height: 160px;
    border: 1px solid black;
}